<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taskboard.backend.mapper.ReleaseTagMapper">

    <resultMap id="ReleaseTagResultMap" type="com.taskboard.backend.model.ReleaseTag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="color" column="color"/>
    </resultMap>

    <select id="findById" parameterType="java.lang.Long" resultMap="ReleaseTagResultMap">
        SELECT id, name, color
        FROM release_tags
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="ReleaseTagResultMap">
        SELECT id, name, color
        FROM release_tags
        ORDER BY name ASC
    </select>

    <insert id="insert" parameterType="com.taskboard.backend.model.ReleaseTag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO release_tags (name, color)
        VALUES (#{name}, #{color})
    </insert>

    <update id="update" parameterType="com.taskboard.backend.model.ReleaseTag">
        UPDATE release_tags
        SET
            name = #{name},
            color = #{color}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM release_tags WHERE id = #{id}
    </delete>

</mapper>
